.input-field {
  padding: 0.5rem;
  /* Adjust the padding as needed */
  margin: 0.5rem;
  /* Adjust the margin as needed */
  display: inline-block;
  outline: none;
  grid-column: span 8;
  /* For use within a grid */
  background-color: #000;
  /* Replace with your desired background color */
  border-radius: 0.25rem;
  /* Adjust the border radius as needed */
  color: #FFD700;

  /* Replace with your desired text color */
  /* Placeholder text styling */
  ::placeholder {
    color: #FFD700;
    /* Replace with your desired placeholder text color */
  }
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  flex: 50%;
}

.eye-icon {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  right: 10px;
}

.eye-icon svg {
  border: none;
  outline: none;
}

.alert-message,
.error-message {
  color: red;
  font-size: 15px;
  margin-bottom: 5%;
}